.movie-box {
    display: flex;
    text-align: center;
    box-shadow: 0 0 15px 5px #ffffff; /* White glow effect */
    flex-direction: row;
    height: 90px;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    width: 100%;
    left: 0; /* Align to the left */

    position: relative;
    top: 65px; /* Moves it down by 50px */

    box-shadow: 0 0 20px rgba(177, 177, 177, 0.8); /* Cyan glow */
}


.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Centers it horizontally */
    padding-left: 25%;
    display: flex;
    background-color: #ffffff;
    position: relative;
    justify-content: center; /* Moves items to the center */
}

.movie-name {
    position: relative;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-menu li {
    border-right: 2px solid white; /* Adds a separator */
    position: relative;
    
    top: 15px;
    padding: 15px 20px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.nav-menu a:hover {
    color: yellow;
}


.content-box
{
    display: flex;
    text-align: center;
    flex-direction: row;
    height: 450px;
    width: 100%;
    bottom: 34px;
    margin-top: 5px;

    position: relative;
}

.movie-card{
    border-radius: 15px;
    display: flex;
    text-align: center;
    height: 400px;
    width: 300px;
    position: relative;
    top: 15px;
}

.summary-box
{
    display: flex;
    text-align: left;
    
    height: 400px;
    width: 990px;
    position: relative;
    top: 15px;
    box-shadow: 0 0 20px rgba(177, 177, 177, 0.8); /* Cyan glow */
    border-radius: 15px;
    overflow-y:auto;
}